<module>
	<rawname>sipcomment</rawname>
	<name>SIP Comment</name>
	<publisher>dewitpj</publisher>
	<repo>unsupported</repo>
	<version>0.1.0.0</version>
	<changelog>
		*0.1.0.0* Original Release
	</changelog>
	<description>
		provides a comment field on Device Options for SIP devices
	</description>
	<depends>
		<module>core</module>
		<version>2.2</version>
    </depends>
	<supported>
		<version>2.10</version>
	</supported>
	<category>Settings</category>
</module>
